<h1>Alien Dating</h1>

I'm from:
<br/>
<select>
<% @planets.each do |planet| %>
  <option><%= planet%></option>
<% end %>
</select>

<br/>
<br/>

and I want to date a creature from:
<br/>
<select>
<% @planets.each do |planet| %>
  <option><%= planet%></option>
<% end %>
</select>
