<h1>Alien Dating</h1>
<h3>Login:</h3>

<%= form_tag '/login', method: 'post' do %>
  Name:
  <br/>
    <%= select_tag :user_id, options_for_select(@users) %>
  <br/>
  <br/>
  <%= submit_tag 'Login' %>
<% end %>
